@page "/account/register"
@using Beauty.Shared.Models;
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}



<div class="row  mt-2 align-content-center justify-content-center">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="text-center">
                <h1>@ViewData["Title"].ToString().ToUpper()</h1>
            </div>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control border-1 border-black mb-2" id="floatingInput" placeholder="Email" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" for="floatingInput">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control border-1 border-black mb-2" id="floatingInput" placeholder="Password" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password" for="floatingInput">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control border-1 border-black mb-2" id="floatingInput" placeholder="Confirm Password" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword" for="floatingInput">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            @if (User.IsInRole(RolesData.ManagerRole))
            {
                <div class="mt-2" style="margin-left:5px">
                    <input type="checkbox" name="roledataUserRole" value="@RolesData.ManagerRole" />
                    @RolesData.ManagerRole
                </div>
            }
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
