@using Beauty.Shared.Models;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Beauty Store</title>
    <link rel="stylesheet" href="~/css/Pulse.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Beauty.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/logo.png" alt="Beauty,Store,Care,Logo" class="img-fluid" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Shop">SHOP</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="AboutUs">ABOUT</a>
                        </li>
                        @if (User.IsInRole(RolesData.ManagerRole))
                        {
                            <li class="nav-item dropdown text-white">
                                <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                                <div class="dropdown-menu text-bg-white text-black">
                                    <a class="nav-link dropdown-item text-light" asp-area="" asp-controller="Admin" asp-action="Index">Products</a>
                                    <a class="nav-link dropdown-item text-light" asp-area="" asp-controller="Admin" asp-action="Orders">Orders</a>
                                    <div class="dropdown-divider">
                                    </div>
                                    <a class="nav-link dropdown-item" id="register" asp-area="Identity" asp-page="/Account/Register">
                                        Register Manager
                                    </a>
                                </div>
                            </li>
                        }
                    </ul>
                    <div class="container">
                        <div class="row justify-content-end">
                            <div class="col-md-4 offset-md-1 ">
                                <form asp-controller="Home" asp-action="SearchResult" class="form-inline justify-content-end">
                                    <div class="input-group">
                                        <input type="text" name="searchText" class="form-control me-sm-2" placeholder="Search">
                                        <div class="input-group-append">
                                            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Beauty.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/57c05df5db.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
