@using Beauty.Shared.Models;
@model Order

<div class="container-row mt-2">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Succesfully!</h1>
        Your Order Number is: @Model.OrderId <br /><br />
        <img src="https://media.tenor.com/MEzvAjgb7YUAAAAC/approved-knuckles.gif" style="width:70%;height:70%"/>

    </div>
    <ul>
    </ul>

    <div class="col-12 text-center" style="color:maroon">
        <br />
        Your order has been placed succesfully! <br />
        Please make sure to arrive on time for hot delicious food!

    </div>
</div>